.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-box {
  background-color: #ffffff;
  padding: 4em;
  border: .25em solid #191919;
  text-align: justify;
  transition: transform 0.5s ease-in-out;
  width: 80%;
}

.about-content {
  margin-top: 1em;
}

.about-quote {
  margin-top: 1em;
}

.about-box:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .about-box {
    width: 90%;
    padding: 2em;
  }
}

@media screen and (max-width: 480px) {
  .about-box {
    padding: 1em;
  }
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;

}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}