@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: grey;
}

section {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100vh;
  /* Adjust as needed */
}

table {
  border-collapse: collapse;
  width: 100%;
  /* Ensure table takes full width of section */
  max-width: 800px;
  /* Adjust as needed */
}

th,
td {
  padding: 0.75em;
  border: 1px solid lightgrey;
}

.header {
  color: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.pagination {
  margin-top: 1em;

}

.margin {
  margin-left: 1em;
  margin-right: 1em;
}

span {
  color: white;
}

/* Add this media query */
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
    /* Set margin-bottom to 0 on small screens */
  }
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}