@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: grey;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

th,
td {
  padding: 0.75em;
  border: 1px solid lightgrey;
}

.header {
  color: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.pagination {
  margin-top: 1em;

}

.margin {
  margin-left: 1em;
  margin-right: 1em;
}

span {
  color: white;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .MuiTypography-caption {
  color: white;
}